{{block "map" . -}}
<fieldset name="{{.Name}}">
  <legend>{{ .Label }}</legend>
  {{- range $k, $values := .Entries}}
    {{- range $values}}
  <input name="{{ $.NamedKey $k }}" value="{{ . }}">
    {{- end}}
  {{- end}}
</fieldset>
{{- end}}
